我希望預測出新的會員 那些可能是流失群 那些不是

In [4]:
import numpy as np
import pandas as pd

members_v3一樣 性別留下NAN 年齡挑在0~99

In [5]:
kkboxdata2017=pd.read_csv('kkboxdata2017v2.csv',parse_dates=['registration_init_time'])
kkboxdata2017.head()

,Unnamed: 0,msno,city,bd,gender,registered_via,registration_init_time,"('num_25', 'mean')","('num_50', 'mean')","('num_75', 'mean')",...,"('total_secs', 'mean')",play_days,payment_method_id_mode,payment_plan_days_mode,plan_list_price_sum,actual_amount_paid_sum,is_auto_renew_sum,is_cancel_sum,transactions_times,is_churn
0,0,+tJonkh+O1CA796Fm5X60UMOtB6POHAwPjbTRVl/EuU=,1,0,NaN,7,2011-09-14,5.258621,1.017241,0.827586,...,7163.224276,58,41,30,258,258,2,0,2,0
1,1,I0yFvqMoNkM8ZNHb617e1RBzIS/YRKemHO7Wj13EtA0=,13,63,male,9,2011-09-18,1.384615,0.576923,0.538462,...,4270.220462,26,40,30,298,298,2,0,2,0
2,2,OoDwiKZM+ZGr9P3fRivavgOtglTEaNfWJO4KaJcTTts=,1,0,NaN,7,2011-09-18,1.523810,0.285714,0.285714,...,3052.110524,21,41,30,298,298,2,0,2,0
3,3,4De1jAxNRABoyRBDZ82U0yEmzYkqeOugRGVNIf92Xb8=,4,28,female,9,2011-09-20,2.200000,0.400000,0.200000,...,3557.196400,5,36,30,360,360,2,0,2,0
4,4,Z6WIOK9vXy+e2XDBiioNAxuZ0ScXSU/Ebq4tUwqVSrE=,22,38,female,9,2011-09-29,1.800000,1.000000,0.700000,...,1662.418200,20,40,30,298,298,2,0,2,0

In [6]:
kkboxdata2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 770929 entries, 0 to 770928
Data columns (total 23 columns):
Unnamed: 0                770929 non-null int64
msno                      770929 non-null object
city                      770929 non-null int64
bd                        770929 non-null int64
gender                    356099 non-null object
registered_via            770929 non-null int64
registration_init_time    770929 non-null datetime64[ns]
('num_25', 'mean')        770929 non-null float64
('num_50', 'mean')        770929 non-null float64
('num_75', 'mean')        770929 non-null float64
('num_985', 'mean')       770929 non-null float64
('num_100', 'mean')       770929 non-null float64
('num_unq', 'mean')       770929 non-null float64
('total_secs', 'mean')    770929 non-null float64
play_days                 770929 non-null int64
payment_method_id_mode    770929 non-null int64
payment_plan_days_mode    770929 non-null int64
plan_list_price_sum       770929 non-null int64
actual_amount_paid_sum    770929 non-null int64
is_auto_renew_sum         770929 non-null int64
is_cancel_sum             770929 non-null int64
transactions_times        770929 non-null int64
is_churn                  770929 non-null int64
dtypes: datetime64[ns](1), float64(7), int64(13), object(2)
memory usage: 135.3+ MB

因為類別太多 先做虛擬變數

In [7]:
dummiesc=['city','gender','registered_via','payment_method_id_mode']
kkboxdata2017 =pd.get_dummies(kkboxdata2017, prefix_sep="__",columns=dummiesc,dummy_na=True,drop_first=True)
cols = list(kkboxdata2017)
cols.pop(cols.index('is_churn'))
cols.append('is_churn')
kkboxdata2017 = kkboxdata2017.loc[:,cols]
kkboxdata2017.columns

Index(['Unnamed: 0', 'msno', 'bd', 'registration_init_time',
       '('num_25', 'mean')', '('num_50', 'mean')', '('num_75', 'mean')',
       '('num_985', 'mean')', '('num_100', 'mean')', '('num_unq', 'mean')',
       '('total_secs', 'mean')', 'play_days', 'payment_plan_days_mode',
       'plan_list_price_sum', 'actual_amount_paid_sum', 'is_auto_renew_sum',
       'is_cancel_sum', 'transactions_times', 'city__3.0', 'city__4.0',
       'city__5.0', 'city__6.0', 'city__7.0', 'city__8.0', 'city__9.0',
       'city__10.0', 'city__11.0', 'city__12.0', 'city__13.0', 'city__14.0',
       'city__15.0', 'city__16.0', 'city__17.0', 'city__18.0', 'city__19.0',
       'city__20.0', 'city__21.0', 'city__22.0', 'city__nan', 'gender__male',
       'gender__nan', 'registered_via__4.0', 'registered_via__7.0',
       'registered_via__9.0', 'registered_via__13.0', 'registered_via__nan',
       'payment_method_id_mode__11.0', 'payment_method_id_mode__14.0',
       'payment_method_id_mode__16.0', 'payment_method_id_mode__17.0',
       'payment_method_id_mode__18.0', 'payment_method_id_mode__19.0',
       'payment_method_id_mode__21.0', 'payment_method_id_mode__23.0',
       'payment_method_id_mode__26.0', 'payment_method_id_mode__27.0',
       'payment_method_id_mode__28.0', 'payment_method_id_mode__29.0',
       'payment_method_id_mode__30.0', 'payment_method_id_mode__31.0',
       'payment_method_id_mode__32.0', 'payment_method_id_mode__33.0',
       'payment_method_id_mode__34.0', 'payment_method_id_mode__35.0',
       'payment_method_id_mode__36.0', 'payment_method_id_mode__37.0',
       'payment_method_id_mode__38.0', 'payment_method_id_mode__39.0',
       'payment_method_id_mode__40.0', 'payment_method_id_mode__41.0',
       'payment_method_id_mode__nan', 'is_churn'],
      dtype='object')

In [8]:
kkboxdata2017.head()

,Unnamed: 0,msno,bd,registration_init_time,"('num_25', 'mean')","('num_50', 'mean')","('num_75', 'mean')","('num_985', 'mean')","('num_100', 'mean')","('num_unq', 'mean')",...,payment_method_id_mode__34.0,payment_method_id_mode__35.0,payment_method_id_mode__36.0,payment_method_id_mode__37.0,payment_method_id_mode__38.0,payment_method_id_mode__39.0,payment_method_id_mode__40.0,payment_method_id_mode__41.0,payment_method_id_mode__nan,is_churn
0,0,+tJonkh+O1CA796Fm5X60UMOtB6POHAwPjbTRVl/EuU=,0,2011-09-14,5.258621,1.017241,0.827586,0.913793,27.293103,18.448276,...,0,0,0,0,0,0,0,1,0,0
1,1,I0yFvqMoNkM8ZNHb617e1RBzIS/YRKemHO7Wj13EtA0=,63,2011-09-18,1.384615,0.576923,0.538462,0.307692,15.615385,17.653846,...,0,0,0,0,0,0,1,0,0,0
2,2,OoDwiKZM+ZGr9P3fRivavgOtglTEaNfWJO4KaJcTTts=,0,2011-09-18,1.523810,0.285714,0.285714,0.476190,10.571429,11.380952,...,0,0,0,0,0,0,0,1,0,0
3,3,4De1jAxNRABoyRBDZ82U0yEmzYkqeOugRGVNIf92Xb8=,28,2011-09-20,2.200000,0.400000,0.200000,0.400000,17.600000,4.000000,...,0,0,1,0,0,0,0,0,0,0
4,4,Z6WIOK9vXy+e2XDBiioNAxuZ0ScXSU/Ebq4tUwqVSrE=,38,2011-09-29,1.800000,1.000000,0.700000,0.600000,5.550000,9.050000,...,0,0,0,0,0,0,1,0,0,0

訓練資料 設計在20161201之前註冊會員

In [9]:
traindata=kkboxdata2017.query('registration_init_time<20161202')
traindata['is_churn'].value_counts()

0    703552
1     36157
Name: is_churn, dtype: int64

驗證資料 設計在20161202與20170101之間註冊會員

In [10]:
validdata=kkboxdata2017.query('20170101>registration_init_time>20161201')
validdata['is_churn'].value_counts()

0    13920
1     1016
Name: is_churn, dtype: int64

測試資料 設計在20170101之後註冊會員

In [11]:
testdata=kkboxdata2017.query('registration_init_time>20170101')
testdata['is_churn'].value_counts()

0    13971
1     1857
Name: is_churn, dtype: int64

看結果而言 流失比率是少數 如果要找出預測流失客群 屬於二元分類問題 另外要對資料不平衡的情況做處理


先塞選好資料需要用的留

刪除不用的欄位

In [12]:
traindata.drop(['Unnamed: 0', 'msno','registration_init_time',], axis=1,inplace =True)
validdata.drop(['Unnamed: 0', 'msno','registration_init_time',], axis=1,inplace =True)
testdata.drop(['Unnamed: 0', 'msno','registration_init_time',], axis=1,inplace =True)

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

類別要使用虛擬變數

這邊要做分類的機器學習 這邊我先把主流的分類器跑一次 之後再挑選幾個作參數調整

In [13]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import time

from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler, LabelEncoder

from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn import tree
from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.gaussian_process.kernels import RBF
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import roc_auc_score
from xgboost import XGBClassifier

In [21]:
dict_classifiers = {
    "Logistic Regression": LogisticRegression(),
    "Nearest Neighbors": KNeighborsClassifier(),
    #"rbf SVM": SVC(kernel='rbf',probability=True),
    #"linear SVM": SVC(kernel='linear',probability=True),
    #"poly SVM": SVC(kernel='poly',probability=True),
    #"sigmoid SVM": SVC(kernel='sigmoid',probability=True),
    "Gradient Boosting Classifier": GradientBoostingClassifier(n_estimators=100),
    "Decision Tree": tree.DecisionTreeClassifier(),
    "Random Forest": RandomForestClassifier(n_estimators=100),
    "Neural Net": MLPClassifier(alpha = 1),
    "Naive Bayes": GaussianNB(),
    "XGBoost": XGBClassifier()
    #"AdaBoost": AdaBoostClassifier(),
    #"QDA": QuadraticDiscriminantAnalysis(),
    #"Gaussian Process": GaussianProcessClassifier()
}

In [22]:
def batch_classify(X_train, Y_train, X_test, Y_test, no_classifiers = 5, verbose = True):
    """
    This method, takes as input the X, Y matrices of the Train and Test set.
    And fits them on all of the Classifiers specified in the dict_classifier.
    The trained models, and accuracies are saved in a dictionary. The reason to use a dictionary
    is because it is very easy to save the whole dictionary with the pickle module.
    
    Usually, the SVM, Random Forest and Gradient Boosting Classifier take quiet some time to train. 
    So it is best to train them on a smaller dataset first and 
    decide whether you want to comment them out or not based on the test accuracy score.
    """
    
    dict_models = {}
    for classifier_name, classifier in list(dict_classifiers.items())[:no_classifiers]:
        t_start = time.perf_counter()
        classifier.fit(X_train, Y_train)
        t_end = time.perf_counter()
        
        t_diff = t_end - t_start
        train_score = classifier.score(X_train, Y_train)
        test_score = classifier.score(X_test, Y_test)
        test_auc=roc_auc_score(Y_test,classifier.predict_proba(X_test)[:,1])
        
        dict_models[classifier_name] = {'model': classifier, 'train_score': train_score, 'test_score': test_score, 'auc': test_auc, 'train_time': t_diff}
        if verbose:
            print("trained {c} in {f:.2f} s".format(c=classifier_name, f=t_diff))
    return dict_models



def display_dict_models(dict_models, sort_by='test_score'):
    cls = [key for key in dict_models.keys()]
    test_s = [dict_models[key]['test_score'] for key in cls]
    training_s = [dict_models[key]['train_score'] for key in cls]
    training_a = [dict_models[key]['auc'] for key in cls]
    training_t = [dict_models[key]['train_time'] for key in cls]
    
    df_ = pd.DataFrame(data=np.zeros(shape=(len(cls),5)), columns = ['classifier', 'train_score', 'test_score', 'auc', 'train_time'])
    for ii in range(0,len(cls)):
        df_.loc[ii, 'classifier'] = cls[ii]
        df_.loc[ii, 'train_score'] = training_s[ii]
        df_.loc[ii, 'test_score'] = test_s[ii]
        df_.loc[ii, 'auc'] = training_a[ii]
        df_.loc[ii, 'train_time'] = training_t[ii]
    
    display(df_.sort_values(by=sort_by, ascending=False))

In [23]:
dict_models = batch_classify(traindata.iloc[:,:-1], traindata.iloc[:,-1], validdata.iloc[:,:-1], validdata.iloc[:,-1], no_classifiers = 12)
display_dict_models(dict_models)

C:\Users\user\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\user\Anaconda3\lib\site-packages\sklearn\svm\base.py:922: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

trained Logistic Regression in 52.63 s
trained Nearest Neighbors in 34.78 s
trained Gradient Boosting Classifier in 188.56 s
trained Decision Tree in 20.61 s
trained Random Forest in 194.54 s
trained Neural Net in 218.89 s
trained Naive Bayes in 1.39 s
trained XGBoost in 124.92 s

                     classifier  train_score  test_score       auc  train_time
2  Gradient Boosting Classifier     0.972431    0.963511  0.978243  188.555167
4                 Random Forest     0.999988    0.963511  0.970667  194.541812
7                       XGBoost     0.972413    0.963042  0.978386  124.922373
3                 Decision Tree     1.000000    0.948179  0.770099   20.612809
5                    Neural Net     0.955418    0.943091  0.939410  218.889107
0           Logistic Regression     0.954102    0.939877  0.959692   52.631913
1             Nearest Neighbors     0.957191    0.938337  0.741543   34.776201
6                   Naive Bayes     0.908902    0.880758  0.927212    1.385827

因為資料偏頗 測試分數相對較高 因此可以參考auc分數 算出對流失值的正確比例 越高代表對流失判斷能力越高

因此前三名為較適合模型